

@import "tailwindcss";
@import "@fontsource/poppins"; /* Imports all Poppins weights & styles */

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.bg-spurs-silver {
  background-color: #C4CED4;
}
.text-spurs-silver {
  color: #C4CED4;
}
.bg-spurs-silver-light {
  background-color: #E2E7EA;
}
.text-spurs-silver-light {
  color: #E2E7EA;
}
.bg-spurs-teal {
  background-color: #00B2A9;
}
.text-spurs-teal{
  color: #00B2A9;
}
.bg-spurs-pink {
  background-color: #EC008C;
}
.text-spurs-pink {
  color: #EC008C;
}
.bg-spurs-orange {
  background-color: #F9423A;
}
.border-spurs-orange {
  border: 2px solid #F9423A;
}
.border-spurs-charcoal {
  border: 2px solid #1D252D;
}
.text-spurs-orange {
  color: #F9423A;
}
.bg-spurs-charcoal {
  background-color: #1D252D;
}
.hoverbgcharcoal:hover {
  background-color: #1D252D;
  color: white;
}
.hoverbgteal:hover {
  background-color: #00B2A9;
  color: white;
}
.hoverbgorange:hover {
  background-color: #F9423A;
  color: white;
}
.hoverbgpink:hover {
  background-color: #EC008C;
  color: white;
}
.text-spurs-charcoal {
  color: #1D252D;
}
.text-spurs-black {
  color: #000000;
}

.offwhite {
  background-color: #f6f6f6;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
ul {
  font-weight: 400;
}
.facebook:hover {
  color: #1877F2;
}
.instagram:hover {
  color: #C13584;
}
.youtube:hover {
  color: #FF0000;
}
.bg-image {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
  filter:blur(.9px) brightness(90%);
}
.lower {
  filter: brightness(20%);
}
.shade {
  background-color: rgba(0, 0, 0, 0.5);
}
.tint {
  background-color: rgba(255, 255, 255, 0.93);
}
.tint-p {
  background-color: #1d252de7;
}
.slideDown {
  animation: slideDown .5s ease forwards;
  transform: scale(0);
}
.slideDown:nth-child(1) {
  animation-delay: 0.1s;
}
.slideDown:nth-child(2) {
  animation-delay: 0.2s;
}
.slideDown:nth-child(3) {
  animation-delay: 0.3s;
}
.slideDown:nth-child(4) {
  animation-delay: 0.4s;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}